.innerDiv{
    color: white;
}
.topContainer{
    display: flex;
    width: 80%;
    margin: auto;
    align-items: center;
    gap: 2em;
}
.leftImage{
    height: 200px;
    width: 200px;
    border-radius: 10px;
    background-color: rgb(3, 3, 197);
}.rightContent{
    width: 400px;

}
.bottomContainer{
    display: flex;
    width: 80%;
    margin: auto;
    align-items: center;
    gap: 2em;
    justify-content: flex-end;
}
.rightImage{
    height: 200px;
    width: 200px;
    border-radius: 10px;
}.leftContent{
    width: 400px;

}
.innerDiv{
    padding: 4em 0;
}