
.SectionContainer_0 div{
cursor: pointer;
}
.SectionContainer_0 button{
    border: 5px solid #000;
    font-size: 1.5rem;
    font-weight: 900;
    padding: 0.5em 1.5em;
    width: fit-content;
    border-radius: 30px;
    color: #000;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
    opacity: 0;
    z-index: 3;
}
.SectionContainer_0 button:hover{
color: #7CECFC;
border: 5px solid #7CECFC;

}
.SectionContainer_0  div{
border-radius: 15px;
}
.DivCard_2_0{
    background-image: url(../../public/assets/img_220011/blockchain_projects/arbtoken.png);
    /* background-color: red; */
    margin: 4em auto;
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 95%;
    background-size: 180% 100%;
    background-repeat: no-repeat;
    background-position: right;
    position: relative;
    box-shadow: 4px 4px 10px #0007;

}



.DivCard_2_1{
    background-image: url(../../public/assets/img_220011/blockchain_projects/dpo-swap.png);
    /* background-color: red; */
    margin: 2em auto;
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 95%;
    background-position: right;
    background-size: 180% 100%;
    background-repeat: no-repeat;
    position: relative;
    box-shadow: 4px 4px 10px #0007;


}
.DivCard_2_2{
    background-image: url(../../public/assets/img_220011/blockchain_projects/mixer.png);
    margin: 2em auto;
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 95%;
    background-position: right;
    background-size: 180% 100%;
    background-repeat: no-repeat;
    position: relative;
    box-shadow: 4px 4px 10px #0007;

}.DivCard_2_3{
    background-image: url(../../public/assets/img_220011/blockchain_projects/lottury.png);
    /* background-color: red; */
    margin: 2em auto;
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 95%;
    background-size: 180% 100%;
    background-repeat: no-repeat;
    background-position: right;
    position: relative;
    box-shadow: 4px 4px 10px #0007;

}
.DivCard_2_4{
    background-image: url(../../public/assets/img_220011/blockchain_projects/dpo-market.png);
    /* background-color: red; */
    margin: 2em auto;
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 95%;
    background-size: 180% 100%;
    background-repeat: no-repeat;
    background-position: right;
    position: relative;
    box-shadow: 4px 4px 10px #0007;

}

@media screen and (min-width:1024px) {
    .DivCard_2_0{
        background-size: 100% 100%;
    }
    .DivCard_2_1{
        background-size: 100% 100%;
    }
    .DivCard_2_2{
        background-size: 100% 100%;

    }
    .DivCard_2_3{
        background-size: 100% 100%;

    }
    .DivCard_2_4{
        background-size: 100% 100%;

    }
}